/* table {
    border-collapse: collapse;
    width: auto;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

td img{
    height: 20px;
}

th {
    background-color: blue;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
} */