# Ignore node_modules
/node_modules

# Ignore logs and log files
*.log
npm-debug.log
yarn-debug.log
yarn-error.log
pids
*.pid
*.seed
*.pid.lock

# Ignore cache and database files
*.db
*.sqlite
*.cache
*.db-journal
*.cache

# Ignore project files
*.project
*.xcodeproj
*.xcworkspace

# Ignore build files
build
dist
public
docs
dist/*

# Ignore OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
TheVolumeSettings.xml
Thumbs.db
Desktop.ini

# Ignore temp files
*.tmp
*~
*.swp
*.swo
*.user
*.lock
*.launch
*.localstorage
*.db-wal
*.db-shm

# Ignore git files
.git
gitignore
gitattributes
.gitmodules

# Ignore editor files
*.sublime-project
*.sublime-workspace
*.vs
*.vscode
*.suo
*.ntvs* 
*.nvmrc
*.yarn-integrity
